body { margin: 60px auto; width: 75%; }

a { text-decoration: none; color: #0055BB; }
a:hover { color: #008000; text-decoration: underline; }

/*a:link { color: #0055BB; text-decoration: none} */
/*a:visited { color: #0066CC; text-decoration: none} */
/*a:active { color: #008000; text-decoration: underline} */

p, ul { font-size: 1.5em; line-height: 1.4em; color: #2c7a8c; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 2.6em;  }
h2 { font-size: 2.2em; }
h3 { font-size: 1.9em; }
h4 { font-size: 1.7em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { 

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

<div class="footer">
  <p>Footer</p>
</div> 

/*  border-top: 1px solid #bcbcbc; font-size: .8em; background: #AA0000;} */

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }
